<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>uppdate</title>
    % include('style.html')
    %include('meta.html')
</head>
<body>
% include('back.html')
    <article>
        <form action="/{{action}}" method="post" accept-charset="utf-8">
            <fieldset>
                <legend><h2>Uppfærsla á bifreiðaskrá</h2></legend>
                <label><h3>Bílnúmer:</h3></label><input type="text" name="number" value="{{number}}" required><br>
                <label><h3>Tegund:</h3></label><input type="text" name="type" value="{{type}}" required><br>
                <label><h3>Verksmiðjunúmer:</h3></label><input type="text" name="factoryNumber" value="{{factoryNumber}}" required><br>
                <label><h3>Nýskráningardagur:</h3></label><input type="date" name="registeredAt" value="{{registeredAt}}" required><br>
                <label><h3>Þýngd:</h3></label><input type="text" name="weight" value="{{weight}}" required><br>
                <label><h3>Staða:</h3></label><input type="text" name="status" value="{{status}}" required><br>
                <label><h3>Mengun:</h3></label><input type="number" name="pollution" pattern="^\d{1,3}$" value="{{pollution}}" required><br>
                <label><h3>Næsta skoðun:</h3></label><input type="date" name="nextCheck" value="{{nextCheck}}" required><br>
                <input name="titi" type="hidden" value="number" />
                <input type="submit" value="Senda">
            </fieldset>

        </form>

    </article>

</body>
</html>