<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Menu for Kristján Info</title>
    <link rel="stylesheet" type="text/css" href="/s/style.css">
    %include('meta.html')
</head>
<body>
    <header>
        <h1 class="nomarg">Kristján Info</h1>
    </header>
    <article class="x">
        <a href="/car"><div><h1>Car</h1></div></a>
        <a href="/del"><div><h1>Eyða</h1></div></a>
        <a href="/update"><div><h1>Breita</h1></div></a>
        <a href="/add"><div><h1>Bæta við</h1></div></a>
    </article>
</body>
</html>